/**
 * The following styles get applied inside the editor only.
 *
 * Replace them with your own styles or remove the file completely.
 */

@import "../../../base/_base";

.wp-block-yohdev-cpt-selection {
	.yohdev-cpt-selection {
		padding: 50px 0;

		.yohdev-card {
			background-color: #fafcff;
			padding: 25px;
			box-shadow: 0px 3px 6px #00000029;
			border-radius: 8px;

			img {
				width: 100%;
				margin-bottom: 20px;
			}
		}
	}
}
