/**
 * The following styles get applied inside the editor only.
 *
 * Replace them with your own styles or remove the file completely.
 */

 @import '../../../base/_base';

 .wp-block-yohdev-repeater-card {
    .card-repeater {
        padding: 30px 0;
      
        .wp-block-column {
          margin-left: 0;
          margin-bottom: 30px;
      
          @include medium-screen {
            padding: 0 20px;
          }
      
          @include large-screen {
            margin-bottom: 0;
          }
      
          @include xlarge-screen {
            margin-bottom: 0;
            padding: 0;
          }
        }
      
        .repeater-container {
          margin: 30px 0;
        }
      }

}
